.footer {
    text-align: center;
    &-top {
        width: 100%;
        background-color: #EEEFFB;
        padding: 80px 0 40px 0;
        .title {
            color: #000000;
            font-family: $font-family__josefin-sans;
            font-size: 22px;
            line-height: 26px;
            padding: 8px 0;
            cursor: pointer;
            &:hover {
                background-color: #ccc;
            }
        }
        a, .address-website, .contact{
            font-family: $font-family__lato;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #8A8FB9;
        }

        .categories, .customer-care, .pages {
            padding-top: 40px;
        }
        .list-categories, .list-customers, .list-pages {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
        }
        .logo-footer {
            padding-bottom: 25px;
            a {
                font-family: $font-family__josefin-sans;
                font-size: 38px;
                line-height: 45px;
                color: #000000;
                font-weight: 700;
            }
        }
        .search-input {
            padding: 10px 20px;
            border: none;
            &::placeholder {
                font-family: $font-family__lato;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #8A8FB9;
            }
        }
        .search-sbm {
            font-family: $font-family__lato;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #EEEFFB;
            background: #FB2E86;
            border-radius: 3px;
            border: none;
            padding: 10px 20px;
        }
    }

    &-bottom {
        width: 100%;
        background-color: #E7E4F8;
    }
}