<!-- begin Featured Products -->

<div class="featured-products">
    <div class="container">
        <div class="featured-products-title home-component-title">
            <p>Featured Products</p>
        </div>
        <div class="featured-products-list">
            <div class="col">
                <div class="item">
                    <div class="top">
                        <div class="image">
                            <img src="./assets/images/products/featured_products/1.png" alt="Featured Products">
                        </div>
                        <div class="tool">
                            <ul>
                                <li>
                                    <a href="#">
                                        <iconify-icon icon="fluent:cart-24-regular" width="19"></iconify-icon>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <iconify-icon icon="uil:heart-alt" width="17"></iconify-icon>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <iconify-icon icon="uil:search-plus" width="15"></iconify-icon>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <a href="#" class="view-detail"><span> View Details</span></a>
                    </div>
                    <div class="bottom">
                        <div class="name"><a href="#">Cantilever chair</a></div>
                        <div class="color">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="code">Code - Y523201</div>
                        <div class="price">$42.00</div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="item">
                    <div class="top">
                        <div class="image">
                            <img src="./assets/images/products/featured_products/2.png" alt="Featured Products">
                        </div>
                        <div class="tool">
                            <ul>
                                <li>
                                    <a href="#">
                                        <iconify-icon icon="fluent:cart-24-regular" width="19"></iconify-icon>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <iconify-icon icon="uil:heart-alt" width="17"></iconify-icon>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <iconify-icon icon="uil:search-plus" width="15"></iconify-icon>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <a href="#" class="view-detail"><span> View Details</span></a>
                    </div>
                    <div class="bottom">
                        <div class="name"><a href="#">Cantilever chair</a></div>
                        <div class="color">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="code">Code - Y523201</div>
                        <div class="price">$42.00</div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="item">
                    <div class="top">
                        <div class="image">
                            <img src="./assets/images/products/featured_products/3.png" alt="Featured Products">
                        </div>
                        <div class="tool">
                            <ul>
                                <li>
                                    <a href="#">
                                        <iconify-icon icon="fluent:cart-24-regular" width="19"></iconify-icon>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <iconify-icon icon="uil:heart-alt" width="17"></iconify-icon>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <iconify-icon icon="uil:search-plus" width="15"></iconify-icon>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <a href="#" class="view-detail"><span> View Details</span></a>
                    </div>
                    <div class="bottom">
                        <div class="name"><a href="#">Cantilever chair</a></div>
                        <div class="color">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="code">Code - Y523201</div>
                        <div class="price">$42.00</div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="item">
                    <div class="top">
                        <div class="image">
                            <img src="./assets/images/products/featured_products/4.png" alt="Featured Products">
                        </div>
                        <div class="tool">
                            <ul>
                                <li>
                                    <a href="#">
                                        <iconify-icon icon="fluent:cart-24-regular" width="19"></iconify-icon>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <iconify-icon icon="uil:heart-alt" width="17"></iconify-icon>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <iconify-icon icon="uil:search-plus" width="15"></iconify-icon>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <a href="#" class="view-detail"><span> View Details</span></a>
                    </div>
                    <div class="bottom">
                        <div class="name"><a href="#">Cantilever chair</a></div>
                        <div class="color">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="code">Code - Y523201</div>
                        <div class="price">$42.00</div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="item">
                    <div class="top">
                        <div class="image">
                            <img src="./assets/images/products/featured_products/4.png" alt="Featured Products">
                        </div>
                        <div class="tool">
                            <ul>
                                <li>
                                    <a href="#">
                                        <iconify-icon icon="fluent:cart-24-regular" width="19"></iconify-icon>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <iconify-icon icon="uil:heart-alt" width="17"></iconify-icon>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <iconify-icon icon="uil:search-plus" width="15"></iconify-icon>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <a href="#" class="view-detail"><span> View Details</span></a>
                    </div>
                    <div class="bottom">
                        <div class="name"><a href="#">Cantilever chair</a></div>
                        <div class="color">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="code">Code - Y523201</div>
                        <div class="price">$42.00</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end Featured Products -->

<script>
    $('.featured-products-list').slick({
        slidesToShow: 4,
        slidesToScroll: 1,
        // autoplay: true,
        autoplaySpeed: 2000,
        arrows: false,
        dots: true,
        responsive: [{
            breakpoint: 640,
            settings: {
                slidesToShow: 2,
                infinite: true
            }

        }, {
            breakpoint: 1024,
            settings: {
                slidesToShow: 3,
                dots: true
            }

        }]
    });
</script>