<div class="container">
    <div class="title home-component-title">
        <p>Leatest Products</p>
    </div>
    <div id="leatest_products_tabs" class="content">
        <ul class="tabs-title">
            <li><a href="#leatest_products_new_arrival">New Arrival</a></li>
            <li><a href="#leatest_products_best_seller">Best Seller</a></li>
            <li><a href="#leatest_products_featured">Featured</a></li>
            <li><a href="#leatest_products_special_offer">Special Offer</a></li>
        </ul>
        <div id="leatest_products_new_arrival">
            <div class="product-list">

                <div class="col">
                    <div class="item">
                        <div class="top">
                            <div class="image">
                                <img src="./assets/images/products/leatest_products/1.png"
                                    alt="featured_products">
                            </div>
                            <div class="tag"></div>
                            <div class="tool">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <iconify-icon icon="fluent:cart-24-regular" width="19">
                                            </iconify-icon>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <iconify-icon icon="uil:heart-alt" width="17"></iconify-icon>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <iconify-icon icon="uil:search-plus" width="15"></iconify-icon>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="bottom">
                            <div class="name">
                                <a href="#">Comfort Handy Craft</a>
                            </div>
                            <div class="price">
                                <span>$42.00</span><span>$65.00</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="item _sale">
                        <div class="top">
                            <div class="image">
                                <img src="./assets/images/products/leatest_products/2.png"
                                    alt="featured_products">
                            </div>
                            <div class="tag"></div>
                            <div class="tool">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <iconify-icon icon="fluent:cart-24-regular" width="19">
                                            </iconify-icon>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <iconify-icon icon="uil:heart-alt" width="17"></iconify-icon>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <iconify-icon icon="uil:search-plus" width="15"></iconify-icon>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="bottom">
                            <div class="name">
                                <a href="#">Comfort Handy Craft</a>
                            </div>
                            <div class="price">
                                <span>$42.00</span><span>$65.00</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="item">
                        <div class="top">
                            <div class="image">
                                <img src="./assets/images/products/leatest_products/3.png"
                                    alt="featured_products">
                            </div>
                            <div class="tag"></div>
                            <div class="tool">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <iconify-icon icon="fluent:cart-24-regular" width="19">
                                            </iconify-icon>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <iconify-icon icon="uil:heart-alt" width="17"></iconify-icon>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <iconify-icon icon="uil:search-plus" width="15"></iconify-icon>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="bottom">
                            <div class="name">
                                <a href="#">Comfort Handy Craft</a>
                            </div>
                            <div class="price">
                                <span>$42.00</span><span>$65.00</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="item">
                        <div class="top">
                            <div class="image">
                                <img src="./assets/images/products/leatest_products/4.png"
                                    alt="featured_products">
                            </div>
                            <div class="tag"></div>
                            <div class="tool">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <iconify-icon icon="fluent:cart-24-regular" width="19">
                                            </iconify-icon>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <iconify-icon icon="uil:heart-alt" width="17"></iconify-icon>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <iconify-icon icon="uil:search-plus" width="15"></iconify-icon>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="bottom">
                            <div class="name">
                                <a href="#">Comfort Handy Craft</a>
                            </div>
                            <div class="price">
                                <span>$42.00</span><span>$65.00</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="item">
                        <div class="top">
                            <div class="image">
                                <img src="./assets/images/products/leatest_products/5.png"
                                    alt="featured_products">
                            </div>
                            <div class="tag"></div>
                            <div class="tool">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <iconify-icon icon="fluent:cart-24-regular" width="19">
                                            </iconify-icon>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <iconify-icon icon="uil:heart-alt" width="17"></iconify-icon>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <iconify-icon icon="uil:search-plus" width="15"></iconify-icon>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="bottom">
                            <div class="name">
                                <a href="#">Comfort Handy Craft</a>
                            </div>
                            <div class="price">
                                <span>$42.00</span><span>$65.00</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="item">
                        <div class="top">
                            <div class="image">
                                <img src="./assets/images/products/leatest_products/6.png"
                                    alt="featured_products">
                            </div>
                            <div class="tag"></div>
                            <div class="tool">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <iconify-icon icon="fluent:cart-24-regular" width="19">
                                            </iconify-icon>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <iconify-icon icon="uil:heart-alt" width="17"></iconify-icon>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <iconify-icon icon="uil:search-plus" width="15"></iconify-icon>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="bottom">
                            <div class="name">
                                <a href="#">Comfort Handy Craft</a>
                            </div>
                            <div class="price">
                                <span>$42.00</span><span>$65.00</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id="leatest_products_best_seller">
            <p>Morbi tincidunt, dui sit amet facilisis feugiat.</p>
        </div>
        <div id="leatest_products_featured">
            <p>Mauris eleifend est et turpis. .</p>
        </div>
        <div id="leatest_products_special_offer">
            <p> haha.</p>
        </div>
    </div>
</div>

