<div class="leatest-blog">
    <div class="container">
        <div class="leatest-blog-title home-component-title">
            <p>Leatest Blog</p>
        </div>
        <div class="leatest-blog-list">

            <div class="col">
                <div class="item">
                    <div class="image">
                        <img src="./assets/images/leatest-blog/1.jpg" alt="blog">
                    </div>
                    <div class="detail">
                        <div class="detail-top">
                            <div class="author">
                                <iconify-icon icon="fa-solid:pen-nib" width="11.33"></iconify-icon>
                                <p>SaberAli</p>
                            </div>
                            <div class="date">
                                <iconify-icon icon="uil:calendar-alt" width="11"></iconify-icon>
                                <p>21 August,2020</p>
                            </div>
                        </div>
                        <div class="title">
                            <p>Top esssential Trends in 2021</p>
                        </div>
                        <div class="des">
                            <p>More off this less hello samlande lied much over tightly circa horse taped mightly</p>
                        </div>
                        <div class="read-more">
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="item">
                    <div class="image">
                        <img src="./assets/images/leatest-blog/2.jpg" alt="blog">
                    </div>
                    <div class="detail">
                        <div class="detail-top">
                            <div class="author">
                                <iconify-icon icon="fa-solid:pen-nib" width="11.33"></iconify-icon>
                                <p>SaberAli</p>
                            </div>
                            <div class="date">
                                <iconify-icon icon="uil:calendar-alt" width="11"></iconify-icon>
                                <p>21 August,2020</p>
                            </div>
                        </div>
                        <div class="title">
                            <p>Top esssential Trends in 2021</p>
                        </div>
                        <div class="des">
                            <p>More off this less hello samlande lied much over tightly circa horse taped mightly</p>
                        </div>
                        <div class="read-more">
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="item">
                    <div class="image">
                        <img src="./assets/images/leatest-blog/3.jpg" alt="blog">
                    </div>
                    <div class="detail">
                        <div class="detail-top">
                            <div class="author">
                                <iconify-icon icon="fa-solid:pen-nib" width="11.33"></iconify-icon>
                                <p>SaberAli</p>
                            </div>
                            <div class="date">
                                <iconify-icon icon="uil:calendar-alt" width="11"></iconify-icon>
                                <p>21 August,2020</p>
                            </div>
                        </div>
                        <div class="title">
                            <p>Top esssential Trends in 2021</p>
                        </div>
                        <div class="des">
                            <p>More off this less hello samlande lied much over tightly circa horse taped mightly</p>
                        </div>
                        <div class="read-more">
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script>
    $('.leatest-blog-list').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        // autoplay: true,
        autoplaySpeed: 2000,
        arrows: false,
        dots: false,
        responsive: [{
            breakpoint: 640,
            settings: {
                slidesToShow: 1,
            }

        }, {
            breakpoint: 1024,
            settings: {
                slidesToShow: 2,
            }

        }]
    });
</script>