<div class="promotion">

    <div class="promotion-list">
        <div class="slider">

            <picture>
                <source media="(min-width:1024px)" srcset="./assets/images/promotion/promotion.jpg">
                <!-- <source media="(min-width:465px)" srcset="img_white_flower.jpg"> -->
                <img alt="Flowers">
            </picture>

            <div class="container content">
                <div class="title">
                    <p>Best Furniture For Your Castle Lorem ipsum, dolor sit amet</p>
                </div>
                <div class="name">
                    <p> New Furniture Collection Trends in 2020 </p>
                </div>
                <div class="des">
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna in est adipiscing
                        in phasellus non in justo. </p>
                </div>
                <a class="button button-shop-now" href="#">Shop Now</a>
            </div>
        </div>
        <div class="slider">
            <div class="container content">
                <div class="title">
                    <p>Best Furniture For Your Castle Lorem ipsum, dolor sit amet</p>
                </div>
                <div class="name">
                    <p> New Furniture Collection Trends in 2020 </p>
                </div>
                <div class="des">
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna in est adipiscing
                        in phasellus non in justo. </p>
                </div>
                <a class="show-now" href="#"><span>Shop Now</span></a>
            </div>
        </div>

        <div class="slider">
            <div class="container content">
                <div class="title">
                    <p>Best Furniture For Your Castle Lorem ipsum, dolor sit amet</p>
                </div>
                <div class="name">
                    <p> New Furniture Collection Trends in 2020 </p>
                </div>
                <div class="des">
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna in est adipiscing
                        in phasellus non in justo. </p>
                </div>
                <a class="show-now" href="#"><span>Shop Now</span></a>
            </div>
        </div>
    </div>
</div>

</div>

<script>
    $('.promotion-list').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        // autoplay: true,
        autoplaySpeed: 2000,
        arrows: false,
        dots: true,
    });
</script>