<div class="trending-products">
    <div class="trending-products-title home-component-title">
        <p>Trending Products</p>
    </div>
    <div class="container">
        <div class="trending-products-list">
            <div class="col">
                <a class="item" href="#">
                    <div class="image">
                        <img src="./assets/images/products/trending_products/1.png" alt="Trending Products">
                    </div>
                    <div class="bottom">
                        <div class="name">
                            <p>Cantilever chair</p>
                        </div>
                        <div class="price">
                            <span>$26.00</span>
                            <span>$42.00</span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col">
                <a class="item" href="#">
                    <div class="image">
                        <img src="./assets/images/products/trending_products/2.png" alt="Trending Products">
                    </div>
                    <div class="bottom">
                        <div class="name">
                            <p>Cantilever chair</p>
                        </div>
                        <div class="price">
                            <span>$26.00</span>
                            <span>$42.00</span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col">
                <a class="item" href="#">
                    <div class="image">
                        <img src="./assets/images/products/trending_products/3.png" alt="Trending Products">
                    </div>
                    <div class="bottom">
                        <div class="name">
                            <p>Cantilever chair</p>
                        </div>
                        <div class="price">
                            <span>$26.00</span>
                            <span>$42.00</span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col">
                <a class="item" href="#">
                    <div class="image">
                        <img src="./assets/images/products/trending_products/4.png" alt="Trending Products">
                    </div>
                    <div class="bottom">
                        <div class="name">
                            <p>Cantilever chair</p>
                        </div>
                        <div class="price">
                            <span>$26.00</span>
                            <span>$42.00</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="banner">
            <div class="show-now">
                <div class="inner">
                    <div class="image">
                        <img src="./assets/images/products/trending_products/show_now.png" alt="show now">
                    </div>
                    <div class="content">
                        <div class="sale">
                            <p>23% off in all products</p>
                        </div>
                        <a href="#" class="go-sale">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="view-collection">
                <div class="inner">
                    <div class="image">
                        <img src="assets\images\products\trending_products\view_collection.png" alt="view-collection">
                    </div>
                    <div class="content">
                        <div class="sale">
                            <p>23% off in all products</p>
                        </div>
                        <a href="#" class="go-sale">View Collection</a>
                    </div>
                </div>
            </div>
            <div class="trending-list">
                <ul>
                    <li>
                        <a href="#" class="trending-item">
                            <div class="trending-image">
                                <img src="./assets/images/products/trending_products/list-1.png" alt="trending">
                            </div>
                            <div class="trending-detail">
                                <div class="trending-name">
                                    <p> Seat chair</p>
                                </div>
                                <div class="trending-price">
                                    <p>$32.00</p>
                                </div>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="trending-item">
                            <div class="trending-image">
                                <img src="./assets/images/products/trending_products/list-2.png" alt="trending">
                            </div>
                            <div class="trending-detail">
                                <div class="trending-name">
                                    <p> Seat chair</p>
                                </div>
                                <div class="trending-price">
                                    <p>$32.00</p>
                                </div>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="trending-item">
                            <div class="trending-image">
                                <img src="./assets/images/products/trending_products/list-3.png" alt="trending">
                            </div>
                            <div class="trending-detail">
                                <div class="trending-name">
                                    <p> Seat chair</p>
                                </div>
                                <div class="trending-price">
                                    <p>$32.00</p>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>