<div class="unique-features">
    <div class="wapper">
        <div class="image">
            <img src="./assets/images/unique-features/ItalianSofa.png" alt="ItalianSofa">
        </div>
        <div class="content container">
            <div class="title">
                <p>Unique Features Of leatest & Trending Products</p>
            </div>
            <div class="list">
                <ul>
                    <li>
                        <p>All frames constructed with hardwood solids and laminates</p>
                    </li>
                    <li>
                        <p>Reinforced with double wood dowels, glue, screw - nails corner
                            blocks and machine nails</p>
                    </li>
                    <li>
                        <p>Arms, backs and seats are structurally reinforced</p>
                    </li>
                </ul>
            </div>
            <div class="bottom">
                <div class="left">
                    <button class="add-to-cart button button-primary"><span>Add To Cart</span></button>
                </div>
                <div class="right">
                    <div class="name">
                        <p>B&B Italian Sofa</p>
                    </div>
                    <div class="price">
                        <p>$32.00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>