<div class=" what-shopex-offer">
    <div class="what-shopex-offer-title home-component-title">
        <p>What Shopex Offer!</p>
    </div>
    <div class="container">
        <div class="what-shopex-offer-list">
            <div class="col">
                <a class="item" href="#">
                    <div class="image">
                        <img src="./assets/images/what_shopex_offer/free-delivery 1.png" alt="">
                    </div>
                    <div class="name">
                        <p>24/7 Support</p>
                    </div>
                    <div class="des">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa purus gravida.</p>
                    </div>
                </a>
            </div>

            <div class="col">
                <a class="item" href="#">
                    <div class="image">
                        <img src="./assets/images/what_shopex_offer/cashback 1.png" alt="">
                    </div>
                    <div class="name">
                        <p>24/7 Support</p>
                    </div>
                    <div class="des">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa purus gravida.</p>
                    </div>
                </a>
            </div>

            <div class="col">
                <a class="item" href="#">
                    <div class="image">
                        <img src="./assets/images/what_shopex_offer/premium-quality 1.png" alt="">
                    </div>
                    <div class="name">
                        <p>24/7 Support</p>
                    </div>
                    <div class="des">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa purus gravida.</p>
                    </div>
                </a>
            </div>

            <div class="col">
                <a class="item" href="#">
                    <div class="image">
                        <img src="./assets/images/what_shopex_offer/24-hours-support 1.png" alt="">
                    </div>
                    <div class="name">
                        <p>24/7 Support</p>
                    </div>
                    <div class="des">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa purus gravida.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>