//
// Home page componet title
// _______________________________
.home-component-title {
	font-size: 20px;
	line-height: 20px;
	font-weight: 700;
	color: $color-off-blue;
	text-align: center;
}

//
// tabs title
// _______________________________
.tabs-title {
	display: flex;
	justify-content: center;
	margin: 27px 0 39px 0;
	flex-wrap: wrap;
	justify-content: space-around;
	li {
		text-align: center;
		width: 50%;
		margin-top: 13px;
		&.ui-tabs-active a {
			color: $color-pink;
			text-decoration: underline;
			text-underline-offset: 3px; // tăng khoảng cách tới gạch chân
		}
		&:last-child {
			margin-right: 0;
		}
	}
	a {
		font-family: $font-family__lato;
		font-weight: 400;
		font-size: 18px;
		line-height: 1.22222;
		color: $color-off-blue;
	}
}

//
// Promotion
// _______________________________

.promotion {
	text-align: center;

	&-list {
		.slider {
			background-size: 100%;
			background-repeat: no-repeat;
			background-color: #f2f0ff;
			background-position: center center;
			position: relative;
			min-height: 500px;
			.content {
				height: fit-content;
				position: absolute;
				top: 50%;
				left: 50%;
				@include translate(-50%, calc(-50% - 12px));
			}
		}
	}
	.slick-track {
		display: flex;
	}
	.slick-track .slick-slide {
		display: flex;
		height: auto;
	}
	picture {
		width: 100%;
		img {
			width: 100%;
		}
	}

	.title p {
		color: #fb2e86;
		font-family: $font-family__lato;
		font-weight: 700;
		font-size: 16px;
		line-height: 1.75;
		max-width: 224px;
		margin: 0 auto 0 auto;

		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
	.name {
		font-family: $font-family__josefin-sans;
		font-weight: 700;
		font-size: 33px;
		line-height: 1.32;
		margin-top: 13px;

		text-align: center;
		letter-spacing: 0.015em;

		margin-bottom: 14px;
	}
	.des {
		font-family: $font-family__lato;
		font-weight: 700;
		font-size: 16px;
		line-height: 1.75;
		/* or 175% */
		margin-top: 13px;

		text-align: center;

		/* sub text color */

		color: #8a8fb9;
	}

	.button-shop-now {
		margin-top: 26px;
		padding: 17px 40px 13px 40px;
	}
	.slick-dots {
		bottom: 37px;
		li {
			width: fit-content;
			height: fit-content;
			margin: 0 8px;
		}
		button {
			padding: 0;
			width: 10px;
			height: 9.89px;

			border: 1px solid #fb2e86;
			box-sizing: border-box;
			@include transform(rotate(-45deg));
			&:before {
				content: none;
			}
		}
		.slick-active {
			button {
				background: #fb2e86;
			}
		}
	}
}

//
// Featured Products
// _______________________________

.featured-products {
	&-title {
		margin-bottom: 26px;
	}

	.featured-products-list {
		/* the slides */
		.slick-slide {
			padding: 15px;
		}

		/* the parent */
		.slick-list {
			margin: 0 -15px;
		}
	}
	.item {
		background: #ffffff;
		box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
		.top {
			position: relative;
		}
		.bottom {
			text-align: center;
		}
		&:hover {
			.tool,
			.view-detail {
				display: block;
			}
			.bottom {
				background-color: #2f1ac4;
				.name a,
				.code,
				.price {
					color: #fff;
				}
			}
			.color span {
				&:last-child {
					background-color: #ffeac1;
				}
			}
		}
	}
	.image {
		position: relative;
		padding-top: 239px;
		background-color: #f6f7fb;
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			@include translate(-50%, -50%);
			width: 100%;
		}
	}
	.tool {
		display: none;
		position: absolute;
		top: 11px;
		left: 11px;
		ul {
			display: flex;
			align-items: center;
		}
		li {
			margin-right: 16px;
			a {
				display: flex;
				justify-content: center;
				align-items: center;
			}
			&:first-child a {
				color: #2f1ac4;
				border-radius: 50%;
				width: 30px;
				height: 30px;
				background: #eeeffb;
				box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
			}
			&:not(:first-child) a {
				color: #1389ff;
			}
		}
	}
	.view-detail {
		padding: 8px 13px 9px 13px;
		background-color: #08d15f;
		border-radius: 2px;
		box-sizing: border-box;
		display: none;
		width: fit-content;
		position: absolute;
		bottom: 11px;
		left: 50%;
		@include translate(calc(-50% + 7px), 0);
		span {
			display: block;
			font-weight: 500;
			font-size: 12px;
			line-height: 1;
			color: #fff;
			white-space: nowrap;
		}
	}
	.name {
		padding-top: 15px;
		a {
			font-family: $font-family__lato;
			color: $color-pink;
			font-size: 14px;
			line-height: 1.2;
			font-weight: 700;
		}
	}
	.color {
		display: flex;
		padding-top: 12px;
		justify-content: center;
		span {
			margin: 0 2px;
			width: 14px;
			height: 4px;
			border-radius: 10px;
			display: block;
			&:first-child {
				background-color: #05e6b7;
			}
			&:nth-child(2) {
				background-color: #f701a8;
			}
			&:last-child {
				background-color: #00009d;
			}
		}
	}
	.code {
		font-size: 14px;
		line-height: 1.285;
		color: #151875;
		padding-top: 12px;
	}
	.price {
		font-family: $font-family__lato;
		font-weight: 400;
		font-size: 14px;
		line-height: 1.2142;
		color: #151875;
		padding: 7px 0 17px 0;
	}
	.slick-dots {
		bottom: -34px;
		li {
			width: fit-content; // loại bỏ code có sẵn của slick
			height: fit-content; //
			padding: 0; //
			margin: 0; //
			padding: 0 3px; // cách nhau giữa dots
			button {
				padding: 0; // loại bỏ code có sẵn của slick
				margin: 0; // loại bỏ code có sẵn của slick
				width: 16px;
				height: 4px;
				background-color: #febad7;
				border-radius: 10px;
				&::before {
					content: none; // loại bỏ code có sẵn của slick
				}
			}
			&.slick-active {
				button {
					background-color: #fb2e86; // khi active dot dài hơn và đổi màu
					width: 24px;
				}
			}
		}
	}
}

//
// Leatest Products
// _______________________________

.leatest-products {
	margin-top: 71px;

	.product-list {
		@include grid-layout(2, 30px, 40px);
	}
	.top {
		position: relative;
	}
	.item {
		&._sale {
			position: relative;
			.image {
				background-color: #fff;
			}
			&:before {
				display: block;
				content: '';
				background-image: url('../images/products/leatest_products/tag.png');
				background-repeat: no-repeat;
				background-size: contain;
				width: 40px;
				height: 26.73px;
				font-size: 6.598326px;
				position: absolute;
				top: 8px;
				left: 4px;
				z-index: 1;
			}
		}
		&:hover {
			.tool {
				display: block;
			}
		}
	}
	.image {
		background-color: #f7f7f7;
		img {
			width: 100%;
		}
	}
	.tool {
		display: none;
		position: absolute;
		top: 12px;
		right: 11.5px;
		ul {
			align-items: center;
		}
		li {
			a {
				display: flex;
				justify-content: center;
				align-items: center;
				color: #2f1ac4;
			}
			&:first-child a {
				border-radius: 50%;
				width: 30px;
				height: 30px;
				background: #eeeffb;
				box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
			}
			&:nth-child(2) {
				margin-top: 14px;
			}
			&:last-child {
				margin-top: 17px;
			}
		}
	}
	.name {
		position: relative;
		a {
			font-size: 16px;
			line-height: 1.875;
			color: #151875;
		}
		&:before {
			content: '';
			display: block;
			width: 153.73px;
			border-bottom: 2px solid #eeeffb;
			position: absolute;
			left: 0;
			bottom: 0;
		}
	}
	.price {
		display: flex;
		justify-content: space-between;
		width: 100%;

		margin-top: 6px;

		span {
			font-size: 14px;
			line-height: 16px;

			&:last-child {
				color: #fb2448;
				font-size: 12px;
				text-decoration: line-through;
			}
		}
	}
}

//
// What Shopex Offer!
// _______________________________

.what-shopex-offer {
	&-title {
		margin-bottom: 40px;
	}
	&-list {
		@include grid-layout(2, 30px, 36px);
	}
	.item {
		display: block;
		background: #fff;
		padding: 15px 0 15.67px 0;
		/* shadow */
		box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
		p {
			text-align: center;
		}
	}
	.image {
		margin: 0 auto;
		padding-top: 65px;
		position: relative;

		img {
			width: auto;
			height: 65px;
			position: absolute;
			left: 50%;
			top: 50%;
			@include translate(-50%, -50%);
		}
	}
	.name {
		margin-top: 9px;
		font-family: $font-family__josefin-sans;
		font-weight: 600;
		font-size: 16px;
		line-height: 1;
	}
	.des {
		font-family: $font-family__lato;
		font-weight: 700;
		font-size: 13px;
		line-height: 1.23076;
		color: rgba(26, 11, 91, 0.3);
		padding: 5.83px 15.75px 0.34px 15.17px;
		box-sizing: border-box;
	}
}

//
// Unique Features Of leatest & Trending Poducts
// _______________________________

.unique-features {
	min-height: 912px;
	background: #f1f0ff;
	margin-bottom: 77px;
	.image {
		padding-top: 23px;
		img {
			width: 100%;
		}
	}
	.title {
		font-family: $font-family__josefin-sans;
		font-style: normal;
		font-weight: 700;
		font-size: 35px;
		line-height: 1.32;
		/* or 46px */
		margin-top: 4px;
		text-align: center;
		letter-spacing: 0.015em;

		/* Text */

		color: #151875;
	}

	.list {
		margin-top: 40px;
		padding: 0 0 0 31px;
		li {
			padding-top: 13px;
			position: relative;
			&:before {
				content: '';
				display: block;
				width: 11px;
				height: 11px;
				border-radius: 50%;
				background-color: red;
				position: absolute;
				top: 17px;
				left: -31px;
			}
			&:nth-child(2):before {
				background-color: #2b2bf5;
			}
			&:last-child:before {
				background-color: #2bf5cc;
			}
		}
		p {
			font-family: $font-family-name__lato;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 1.32;
			/* or 28px */

			letter-spacing: 0.015em;

			color: #acabc3;
		}
	}
	.bottom {
		margin-top: 37px;
		padding-bottom: 65.36px;
		@include flexbox;
		align-items: center;
		.left {
			margin-right: 19px;
		}
	}

	.name {
		font-family: $font-family__josefin-sans;
		font-size: 14px;
		line-height: 2;
		letter-spacing: 0.02em;
		font-weight: 600;

		/* Text */

		color: #151875;
	}
	.price {
		font-family: $font-family__lato;
		font-weight: 400;
		font-size: 14px;
		line-height: 1.214285;

		/* Text */

		color: #151875;
	}
}

//
// Trending Products
// _______________________________

.trending-products {
	margin-bottom: 77px;
	&-title {
		margin-bottom: 40px;
	}
	&-list {
		@include grid-layout(2, 30px, 40px);
	}
	.item {
		display: block;
		box-sizing: border-box;
		padding: 11px 12px 33px 11px;

		background-color: #fff;

		filter: drop-shadow(0px 8px 40px rgba(49, 32, 138, 0.05));
	}
	.image {
		border: 0;
		font-size: 0;
		img {
			width: 100%;
			display: block;
		}
	}
	.bottom {
		text-align: center;
		padding-top: 15px;
	}
	.name {
		font-family: $font-family__lato;
		font-weight: 700;
		font-size: 16px;
		line-height: 1.6;
		color: #151875;
		margin-bottom: 8px;
	}
	.price {
		font-family: $font-family__josefin-sans;
		line-height: 1;
		font-size: 14px;
		color: #151875;
		span {
			&:last-child {
				font-size: 12px;
				color: rgba(21, 24, 117, 0.3);
				margin-left: 12px;
			}
		}
	}

	.banner {
		.show-now,
		.view-collection {
			position: relative;
			box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
			min-height: 270px;
			margin-bottom: 40px;
			.inner {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				width: 100%;
				height: 100%;

				padding: 34px 6px 2px 25px;
				box-sizing: border-box;
			}
			.image {
				position: absolute;
				right: 6px;
				bottom: 2px;
				max-height: 90%;
			}
			img {
				height: auto;
				width: auto;
				max-width: 100%;
				display: block;
			}
			.sale {
				font-family: $font-family__josefin-sans;

				font-weight: 600;
				font-size: 26px;
				line-height: 1;
				/* Text */
				margin-bottom: 11px;

				color: #151875;
			}
			.go-sale {
				font-family: $font-family__lato;
				font-weight: 600;
				font-size: 16px;
				line-height: 1.1875;
				text-align: center;
				text-decoration-line: underline;

				color: #fb2e86;
			}
		}
		.show-now {
			background: #fff6fb;
		}
		.view-collection {
			background: #eeeffb;
			/* shadow */
		}
	}
	.trending {
		&-list {
			li {
				margin-bottom: 20px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		&-image {
			font-size: 0;
		}
		&-detail {
			margin-left: 12px;
		}
		&-item {
			display: flex;
			align-items: center;
		}
		&-name {
			font-family: $font-family__josefin-sans;
			font-size: 16px;
			line-height: 1.1875;
			font-weight: 600;
			margin-bottom: 5px;
			color: #151875;
		}
		&-price {
			font-family: $font-family__josefin-sans;
			font-weight: 400;
			font-size: 12px;
			line-height: 1;

			text-decoration-line: line-through;
			color: #151875;
		}
	}
}

//
// Discount Item
// _______________________________

.discount-item {
	margin-bottom: 77px;
	.tabs-title {
		justify-content: space-between;
		li {
			width: fit-content;
			position: relative;

			&.ui-tabs-active:not(:last-child):before {
				content: '';
				display: block;
				width: 5px;
				height: 5px;
				border-radius: 50%;
				background-color: #fb4997;
				position: absolute;
				top: 50%;
				right: -14px;
				@include translate(0, -50%);
			}
		}
	}
	.image {
		img {
			width: 100%;
		}
	}
	.title {
		font-family: $font-family__josefin-sans;
		font-style: normal;
		font-weight: 700;
		font-size: 20px;
		line-height: 1.32;
		/* or 26px */

		letter-spacing: 0.015em;
		color: #151875;

		margin-bottom: 16px;
		margin-top: 5px;
	}
	.name {
		font-family: $font-family__josefin-sans;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 1.32;
		/* or 21px */

		letter-spacing: 0.015em;

		/* pink */

		color: #fb2e86;

		margin-bottom: 20px;
	}
	.des {
		&-content {
			font-family: $font-family__lato;
			font-style: normal;
			font-weight: 400;
			font-size: 17px;
			line-height: 1.76;
			/* or 176% */

			letter-spacing: 0.02em;

			color: #b7bacb;

			margin-bottom: 23px;
		}
		&-list {
			margin-bottom: 37px;
			li {
				display: flex;
				align-items: center;

				margin-bottom: 11px;

				p {
					font-family: $font-family__lato;
					font-style: normal;
					font-weight: 400;
					font-size: 16px;
					line-height: 1.8; /* identical to box height, or 188% */

					letter-spacing: 0.02em;

					color: #b8b8dc;

					transform: translateY(-3px);
				}
			}
			.icon {
				margin-right: 3px;
				color: #7569b2;
			}
		}
	}
}

//
// Top Categories
// _______________________________

.top-categories {
	margin-bottom: 77px;
	&-title {
		margin-bottom: 40px;
	}
	&-list {
		// @include grid-layout(2, 30px, 0);
		margin: 0 -11px;

		.col {
			padding: 0 11px;
		}
		.item {
			position: relative;
			&:hover {
				.view-shop {
					display: inline-block;
				}
				.top {
					&:after {
						@include translate(-5px, 6px);
					}
				}
			}
		}
		.top {
			position: relative;

			border-radius: 50%;
			background: #f6f7fb;
			/* shadow */

			box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);

			&:after {
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				border-radius: 50%;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: #9877e7;
				box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
				z-index: -1;

				transition: transform 0.5 ease;
			}
		}
		.view-shop {
			font-family: $font-family__josefin-sans;
			font-style: normal;
			font-weight: 500;
			font-size: 12px;
			line-height: 1;

			color: #ffffff;

			padding: 9px 18px 8px 18px;

			background: #08d15f;
			border-radius: 2px;
			display: none;

			white-space: nowrap;

			position: absolute;
			top: 50%;
			left: 50%;
			@include translate(-50%, -50%);
		}
		.bottom {
			font-family: $font-family__josefin-sans;
			color: #151875;
			text-align: center;
		}
		.name {
			margin-top: 22px;
			font-size: 20px;
			line-height: 1.15;
		}
		.price {
			margin-top: 8px;
			font-size: 16px;
			line-height: 1.1875;
		}
	}
	.slick-dots {
		bottom: -42px;
		li {
			width: fit-content; // loại bỏ code có sẵn của slick
			height: fit-content; //
			padding: 0; //
			margin: 0; //
			padding: 0 calc(11.93px / 2); // cách nhau giữa dots
			button {
				padding: 0; // loại bỏ code có sẵn của slick
				margin: 0; // loại bỏ code có sẵn của slick
				width: 10px;
				height: 9.89px;
				border: 1px solid #fb2e86;
				border-radius: 50px;
				transform: rotate(-45deg);
				&::before {
					content: none; // loại bỏ code có sẵn của slick
				}
			}
			&.slick-active {
				button {
					background: #fb2e86;
				}
			}
		}
	}
}

//
//  Leatest Update
// _______________________________

.leatest-update {
	min-height: 462px;
	background-image: url('../images/leatest_update/background.jpg');
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;

	.content {
		margin: 0 auto;
		padding-top: 102px;
		width: fit-content;
		text-align: center;
	}
	.title {
		font-family: $font-family__josefin-sans;
		font-style: normal;
		font-weight: 700;
		font-size: 35px;
		line-height: 1.55;
		/* or 54px */
		letter-spacing: 0.015em;

		color: #151875;
	}
	.button-shop-now {
		margin-top: 44px;
		padding: 17px 37px 17px 44px;
	}
}

//
//  Brands
// _______________________________

.brands {
	max-width: 100%;
	width: fit-content;
	margin: 0 auto;
	overflow: hidden;
	position: relative;

	img {
		&:last-child {
			position: absolute;
			top: 0;
			left: 0;
			animation-name: brands_run2;
		}
	}
}

@keyframes brands_run {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}

@keyframes brands_run2 {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0%);
	}
}

//
//  Leatest Blog
// _______________________________

.leatest-blog {
	&-title {
		margin-bottom: 40px;
	}
	&-list {
		margin: 0 -15px;
		.col {
			padding: 0 15px;
			box-sizing: border-box;
		}
	}
	.item {
		background: #ffffff;
		/* shadow */

		box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
		border-radius: 5px;

		&:hover {
			.title,
			.read-more a {
				color: $color-pink;
			}
		}
	}

	.image {
		position: relative;
		padding-top: calc(255 / 370 * 100%);
		border-radius: 8px;
		overflow: hidden;
		img {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.detail {
		padding: 19px 14px 35px 14px;

		&-top {
			display: flex;
		}
	}

	.author,
	.date {
		display: flex;
		font-family: $font-family__josefin-sans;
		font-size: 14px;
		line-height: 16px;

		/* Text */

		color: #151875;
	}
	.author {
		margin-right: 30px;
		iconify-icon {
			color: #fb2e86;
			margin-right: 7.67px;
		}
	}
	.date {
		iconify-icon {
			color: #ffa454;
			margin-right: 4px;
		}
	}
	.title {
		font-family: $font-family__josefin-sans;
		font-size: 18px;
		line-height: 1.16666;
		font-weight: 700;
		/* Text */

		color: #151875;

		margin-top: 28px;
		margin-left: 5px;
	}

	.des {
		font-family: $font-family__lato;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 1.88;

		color: #72718f;

		margin-left: 5px;
		margin-top: 15px;
	}

	.read-more {
		margin-top: 13px;
		margin-left: 5px;
		a {
			font-family: $font-family__lato;
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 1.88;
			/* identical to box height, or 188% */

			text-decoration-line: underline;

			/* Text */

			color: #151875;

			text-underline-offset: 4px;
		}
	}
}
