.page-header-content {
    text-align: center;
    .breadcrumb {
        ul {
            justify-content: center;
        }
    }
}

.image-item {
    height: 470px;
    width: 470px;
    object-fit: cover;
}
.slick-slide img {
    width: 100%;
    height: 100%;
  }
