/* 
1.0 Common
    1.1 Variables
    1.2 Mixins
    1.3 Typography
    1.4 Reset CSS
    1.5 Normalize CSS
    1.6 Style Guide
        1.6.1 Basic
        1.6.2 Color
        1.6.3 Background Color
        1.6.4 Dispplay Color and Font
        1.6.5 Page sort by
2.0 Base
    2.1 Header
        2.1.1 Top Menu
        2.1.2 Header Menu
    2.2 Footer
        2.2.1 Footer Top
        2.2.2 Footer Bottom
3.0 Content
    3.1 Home Page Content
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/ttf/Poppins-Regular.ttf") format("truetype"), url("../fonts/Poppins/woff/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins/woff2/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/ttf/Poppins-Medium.ttf") format("truetype"), url("../fonts/Poppins/woff/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins/woff2/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "JosefinSans";
  src: url("../fonts/JosefinSans/ttf/JosefinSans-Thin.ttf") format("truetype"), url("../fonts/JosefinSans/woff/JosefinSans-Thin.woff") format("woff"), url("../fonts/JosefinSans/woff2/JosefinSans-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "JosefinSans";
  src: url("../fonts/JosefinSans/ttf/JosefinSans-ThinItalic.ttf") format("truetype"), url("../fonts/JosefinSans/woff/JosefinSans-ThinItalic.woff") format("woff"), url("../fonts/JosefinSans/woff2/JosefinSans-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "JosefinSans";
  src: url("../fonts/JosefinSans/ttf/JosefinSans-ExtraLight.ttf") format("truetype"), url("../fonts/JosefinSans/woff/JosefinSans-ExtraLight.woff") format("woff"), url("../fonts/JosefinSans/woff2/JosefinSans-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "JosefinSans";
  src: url("../fonts/JosefinSans/ttf/JosefinSans-ExtraLightItalic.ttf") format("truetype"), url("../fonts/JosefinSans/woff/JosefinSans-ExtraLightItalic.woff") format("woff"), url("../fonts/JosefinSans/woff2/JosefinSans-ExtraLightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "JosefinSans";
  src: url("../fonts/JosefinSans/ttf/JosefinSans-Light.ttf") format("truetype"), url("../fonts/JosefinSans/woff/JosefinSans-Light.woff") format("woff"), url("../fonts/JosefinSans/woff2/JosefinSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "JosefinSans";
  src: url("../fonts/JosefinSans/ttf/JosefinSans-LightItalic.ttf") format("truetype"), url("../fonts/JosefinSans/woff/JosefinSans-LightItalic.woff") format("woff"), url("../fonts/JosefinSans/woff2/JosefinSans-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "JosefinSans";
  src: url("../fonts/JosefinSans/ttf/JosefinSans-Regular.ttf") format("truetype"), url("../fonts/JosefinSans/woff/JosefinSans-Regular.woff") format("woff"), url("../fonts/JosefinSans/woff2/JosefinSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "JosefinSans";
  src: url("../fonts/JosefinSans/ttf/JosefinSans-Italic.ttf") format("truetype"), url("../fonts/JosefinSans/woff/JosefinSans-Italic.woff") format("woff"), url("../fonts/JosefinSans/woff2/JosefinSans-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "JosefinSans";
  src: url("../fonts/JosefinSans/ttf/JosefinSans-Medium.ttf") format("truetype"), url("../fonts/JosefinSans/woff/JosefinSans-Medium.woff") format("woff"), url("../fonts/JosefinSans/woff2/JosefinSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "JosefinSans";
  src: url("../fonts/JosefinSans/ttf/JosefinSans-MediumItalic.ttf") format("truetype"), url("../fonts/JosefinSans/woff/JosefinSans-MediumItalic.woff") format("woff"), url("../fonts/JosefinSans/woff2/JosefinSans-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "JosefinSans";
  src: url("../fonts/JosefinSans/ttf/JosefinSans-SemiBold.ttf") format("truetype"), url("../fonts/JosefinSans/woff/JosefinSans-SemiBold.woff") format("woff"), url("../fonts/JosefinSans/woff2/JosefinSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "JosefinSans";
  src: url("../fonts/JosefinSans/ttf/JosefinSans-SemiBoldItalic.ttf") format("truetype"), url("../fonts/JosefinSans/woff/JosefinSans-SemiBoldItalic.woff") format("woff"), url("../fonts/JosefinSans/woff2/JosefinSans-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "JosefinSans";
  src: url("../fonts/JosefinSans/ttf/JosefinSans-Bold.ttf") format("truetype"), url("../fonts/JosefinSans/woff/JosefinSans-Bold.woff") format("woff"), url("../fonts/JosefinSans/woff2/JosefinSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "JosefinSans";
  src: url("../fonts/JosefinSans/ttf/JosefinSans-BoldItalic.ttf") format("truetype"), url("../fonts/JosefinSans/woff/JosefinSans-BoldItalic.woff") format("woff"), url("../fonts/JosefinSans/woff2/JosefinSans-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/ttf/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato/woff/Lato-Regular.woff") format("woff"), url("../fonts/Lato/woff2/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: "JosefinSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  width: 1200px;
  max-width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  margin: auto;
}

a {
  text-decoration: none;
}

textarea:focus,
input:focus {
  outline: none;
}

.color-pink {
  color: #fb2e86;
}

.color-off-navy-blue {
  color: #3f509e;
}

.color-navy-blue {
  color: #151875;
}

.color-purple {
  color: #7e33e0;
}

.color-off-purple {
  color: #9f63b5;
}

.color-red {
  color: #fb2448;
}

.color-blue {
  color: #2f1ac4;
}

.color-off-blue {
  color: #151875;
}

.color-sky-blue {
  color: linear-gradient(121.53deg, #f3f9ff 0%, #f1f0ff 100%);
}

.bg-pink {
  background-color: #fb2e86;
}

.bg-off-navy-blue {
  background-color: #3f509e;
}

.bg-navy-blue {
  background-color: #151875;
}

.bg-purple {
  background-color: #7e33e0;
}

.bg-off-purple {
  background-color: #9f63b5;
}

.bg-red {
  background-color: #fb2448;
}

.bg-blue {
  background-color: #2f1ac4;
}

.bg-off-blue {
  background-color: #151875;
}

.bg-sky-blue {
  background-image: linear-gradient(121.53deg, #f3f9ff 0%, #f1f0ff 100%);
}

.bg-pantone-purple {
  background-color: #e0d3f5;
}

.styleguide {
  width: 1430px;
  max-width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  margin: auto;
}
.styleguide-title {
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.25;
  color: #212525;
  margin: 49px 82px 47px 82px;
}
.styleguide-row {
  display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  flex-wrap: wrap;
}
.styleguide .color {
  width: 983px;
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-right: 26px;
}
.styleguide .color .content {
  display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.styleguide .color .item {
  padding: 22px;
  box-sizing: border-box;
  box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
  border-radius: 15px;
  border: 2px solid #eaebed;
}
.styleguide .color .item + .item {
  margin-top: 16px;
}
.styleguide .color .display {
  height: 50px;
  border-radius: 32px;
  margin-bottom: 17px;
}
.styleguide .color .code {
  font-size: 14px;
  line-height: 1.43;
  color: rgba(33, 37, 37, 0.4);
  margin-bottom: 4px;
}
.styleguide .color .name {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.09;
}
.styleguide .color .col {
  width: 250px;
  margin-right: 30px;
  margin-bottom: 51px;
}
.styleguide .color .col:nth-child(3n) {
  margin-right: 0;
}
.styleguide .color .col:first-child, .styleguide .color .col:last-child {
  width: 267px;
}
.styleguide .color .col:first-child .item, .styleguide .color .col:last-child .item {
  padding: 30px 31px 13px 30px;
  box-sizing: border-box;
}
.styleguide .color .col:first-child .item .display, .styleguide .color .col:last-child .item .display {
  border-radius: 25px;
  height: 206px;
  margin-bottom: 34px;
}
.styleguide .color .col:last-child .item {
  padding: 30px 30px 13px 31px;
}
.styleguide .font {
  width: 391px;
}
.styleguide .font .title {
  text-align: right;
}
.styleguide .font .content {
  width: 341px;
}
.styleguide .font .top,
.styleguide .font .bottom {
  padding: 0 0 16px 23px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: #ffffff;
  border-radius: 25px;
}
.styleguide .font .top {
  height: 150px;
  box-shadow: -9px 18px 40px rgba(0, 0, 0, 0.1);
}
.styleguide .font .bottom {
  min-height: 515px;
  border: 2px solid #eaebed;
  margin-top: 26px;
}
.styleguide .font .display {
  font-family: "JosefinSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 36px;
  width: 84px;
  height: 87px;
  display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.styleguide .font .name {
  font-weight: 500;
  font-size: 14px;
  color: rgba(33, 37, 37, 0.4);
  line-height: 1.43;
  margin-top: 1px;
}
.styleguide .font .type {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.89;
  margin-top: 2px;
}

.styleguide-component-title {
  margin-bottom: 10px;
  margin-top: 20px;
  display: block;
}

.page-sortby {
  min-height: 44px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  flex-wrap: wrap;
}
.page-sortby .left-title {
  font-family: "JosefinSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 1.181;
  color: #151875;
  font-weight: 700;
  margin-bottom: 8px;
}
.page-sortby .right {
  display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}
.page-sortby .right-title {
  font-size: 16px;
  line-height: 1.1875;
  color: #3f509e;
  margin-right: 9px;
}
.page-sortby .perpage {
  display: flex;
  align-items: center;
}
.page-sortby .perpage input {
  height: 25px;
  width: 55px;
  border: 1px solid #e7e6ef;
  padding: 0;
  line-height: normal;
  box-sizing: border-box;
  margin-right: 27px;
}
.page-sortby .result-count {
  font-size: 12px;
  line-height: 1.166;
  color: #8a8fb9;
}
.page-sortby .sortby {
  display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}
.page-sortby .sortby-select {
  max-height: 26px;
  min-height: 26px;
  position: relative;
  border: 1px solid #e7e6ef;
  z-index: 10;
  transform: translate(0, 2px);
  -webkit-transform: translate(0, 2px);
  -moz-transform: translate(0, 2px);
}
.page-sortby .sortby-select ul {
  max-height: 26px;
  overflow: hidden;
  transition: max-height 0.5s ease;
}
.page-sortby .sortby-select li {
  height: 26px;
}
.page-sortby .sortby-select a {
  line-height: 26px;
  width: 100%;
  padding-left: 9px;
  padding-right: 25px;
  background-color: #ffffff;
  display: block;
  white-space: nowrap;
  text-decoration: none;
  font-size: 12px;
  color: #8a8fb9;
  box-sizing: border-box;
}
.page-sortby .sortby-right {
  display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
.page-sortby .sortby-right:hover ul {
  max-height: 500px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.page-sortby .sortby iconify-icon {
  font-size: 14px;
  color: #8a8fb9;
  position: absolute;
  top: 55%;
  right: 10px;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
}
.page-sortby .view {
  display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  flex-wrap: wrap;
  margin-left: 24px;
  align-items: flex-end;
}
.page-sortby .view-title {
  margin-right: 4px;
}
.page-sortby .view-choise {
  display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  flex-wrap: wrap;
}
.page-sortby .view-choise a:first-child {
  margin-right: 5px;
}
.page-sortby .view-choise a {
  color: #151875;
}
.page-sortby .search {
  margin-left: 27px;
}
.page-sortby .search input {
  padding: 4.8px 0;
  transform: translate(0, 2px);
  -webkit-transform: translate(0, 2px);
  -moz-transform: translate(0, 2px);
  border: 1px solid #e7e6ef;
  width: 160px;
}

.page-header {
  min-height: 286px;
  background-color: #f6f5ff;
}
.page-header-content {
  padding-top: 96px;
}

.page-title {
  font-family: "JosefinSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 36px;
  line-height: 1.1666;
  color: #151875;
  font-weight: 700;
  margin-bottom: 9px;
}

.breadcrumb ul {
  display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  flex-wrap: wrap;
}
.breadcrumb li {
  margin-right: 4px;
}
.breadcrumb li:last-child a, .breadcrumb li:last-child::before {
  color: #fb2e86;
}
.breadcrumb li:not(:first-child):before {
  content: ".";
  margin-right: 5px;
}

/*
* Use: 
*    @include responsive_375{
* 
*   }
*
*    @include responsive_512{
* 
*   }
*
*    @include responsive_768{
* 
*   }
*
*    @include responsive_1024{
* 
*   }
*
*/
@media only screen and (max-width: 1024px) {
  .page-sortby {
    display: block;
  }
  .page-sortby .right {
    justify-content: flex-start;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .page-sortby .search {
    margin-left: 0;
    width: 100%;
    margin-top: 20px;
  }
  .page-sortby .search input {
    width: 100%;
  }
}
@media only screen and (max-width: 512px) {
  .page-sortby .right {
    display: block;
  }
  .page-sortby .right-title {
    min-width: 100px;
  }
  .page-sortby .right .perpage input {
    width: 100%;
    margin: 0;
  }
  .page-sortby .right .sortby-right {
    flex: 1;
  }
  .page-sortby .right .sortby-right .sortby-select {
    width: 100%;
  }
  .page-sortby .right > div {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    min-width: 300px;
    margin: 0;
    margin-top: 20px;
  }
}
.header {
  /**
     * Header Top
     */
  /**
     *  End Header Top
     */
  /**
     * Header Bottom
     */
  /**
     *  End Header Bottom
     */
}
.header-top {
  background: #7e33e0;
}
.header-top-content {
  padding: 14px 15px;
}
.header-top-content .row {
  width: 100%;
  display: flex;
}
.header-content-left {
  width: 50%;
  display: flex;
}
.header-content-left a {
  font-family: "JosefinSans";
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #f1f1f1;
  padding-right: 50px;
}
.header-content-icon {
  color: #ffffff;
  position: relative;
  top: 4px;
  padding-right: 11.33px;
}
.header-content-right {
  width: 50%;
  display: flex;
  justify-content: end;
}
.header-content-right .item {
  font-family: "JosefinSans";
  font-size: 16px;
  line-height: 19px;
  color: #f1f1f1;
  text-align: center;
  padding-left: 20px;
  position: relative;
  cursor: pointer;
}
.header-content-right iconify-icon {
  position: relative;
  top: 2px;
}
.header-right-laguage, .header-right-money {
  top: 3px;
}
.header-right-laguage .laguage-item,
.header-right-laguage .money-item, .header-right-money .laguage-item,
.header-right-money .money-item {
  position: relative;
}
.header-right-laguage .laguage-item:after,
.header-right-laguage .money-item:after, .header-right-money .laguage-item:after,
.header-right-money .money-item:after {
  content: url("https://api.iconify.design/akar-icons/chevron-down.svg?color=white&width=16px&height=16px");
  position: absolute;
  right: -4px;
}
.header-right-laguage .laguage-item:hover:after,
.header-right-laguage .money-item:hover:after, .header-right-money .laguage-item:hover:after,
.header-right-money .money-item:hover:after {
  content: url("https://api.iconify.design/akar-icons/chevron-up.svg?color=white&width=16px&height=16px");
}
.header-right-laguage .laguage-item:hover .list-language,
.header-right-laguage .laguage-item:hover .list-money,
.header-right-laguage .money-item:hover .list-language,
.header-right-laguage .money-item:hover .list-money, .header-right-money .laguage-item:hover .list-language,
.header-right-money .laguage-item:hover .list-money,
.header-right-money .money-item:hover .list-language,
.header-right-money .money-item:hover .list-money {
  display: block;
}
.header-right-laguage .list-language,
.header-right-laguage .list-money, .header-right-money .list-language,
.header-right-money .list-money {
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  color: #333;
  top: 25px;
  left: -5px;
  display: none;
}
.header-right-laguage .lang,
.header-right-laguage .money, .header-right-money .lang,
.header-right-money .money {
  padding: 15px 15px;
}
.header-right-laguage .lang:hover,
.header-right-laguage .money:hover, .header-right-money .lang:hover,
.header-right-money .money:hover {
  color: #fff;
  background: #7e33e0;
}
.header-bottom-content .row {
  display: flex;
  padding: 20px 0;
}
.header-bottom-content .logo {
  width: 16.6666666667%;
}
.header-bottom-content .logo h1 {
  margin: 0;
}
.header-bottom-content .logo h1 a {
  font-family: "JosefinSans";
  font-size: 34px;
  line-height: 40px;
  text-decoration: none;
  color: #0d0e43;
  font-weight: 700;
}
.header-bottom-content .navbar {
  width: 50%;
  line-height: 42px;
}
.header-bottom-content .navbar .icon-menu {
  display: none;
}
.header-bottom-content .navbar .menu {
  align-items: center;
  display: flex;
}
.header-bottom-content .navbar .menu .item {
  padding-right: 25px;
  position: relative;
}
.header-bottom-content .navbar .menu .item a {
  color: #0d0e43;
  text-decoration: none;
}
.header-bottom-content .navbar .menu .item-home {
  padding-right: 35px;
  color: #fb2e86;
}
.header-bottom-content .navbar .menu .item-home:after {
  content: url("https://api.iconify.design/akar-icons/chevron-down.svg?color=%23fb2e86&width=16px&height=16px");
  position: absolute;
  right: 15px;
  top: 3px;
}
.header-bottom-content .navbar .menu .item-home:hover .sub-menu {
  display: block;
}
.header-bottom-content .navbar .menu .item-home:hover:after {
  content: url("https://api.iconify.design/akar-icons/chevron-up.svg?color=%23fb2e86&width=16px&height=16px");
}
.header-bottom-content .navbar .sub-menu {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.header-bottom-content .navbar .sub-menu .sub-item {
  padding: 0 15px;
}
.header-bottom-content .navbar .sub-menu .sub-item:hover {
  background: #7e33e0;
}
.header-bottom-content .navbar .sub-menu .sub-item:hover a {
  color: #fb2e86;
}
.header-bottom-content .search {
  width: 33.3333333333%;
  position: relative;
  display: flex;
  align-items: center;
}
.header-bottom-content .search .searchTerm {
  height: 34px;
  width: 100%;
  top: 0;
  outline: none;
  border: 2px solid #e7e6ef;
}
.header-bottom-content .search .searchBtn {
  position: absolute;
  width: 50px;
  height: 38px;
  right: 0px;
  background: #fb2e86;
  border: none;
}

@media only screen and (max-width: 1024px) {
  .header-content-left a {
    font-size: 13px;
    line-height: 15px;
  }
  .header-content-right .item {
    font-size: 13px;
    line-height: 15px;
  }
  .header-right-laguage .laguage-item:after,
.header-right-laguage .money-item:after,
.header-right-money .laguage-item:after,
.header-right-money .money-item:after {
    right: -4px;
    top: -1px;
  }
  .header-bottom-content .logo {
    width: 20%;
    order: 2;
  }
  .header-bottom-content .navbar {
    width: 40%;
    order: 1;
  }
  .header-bottom-content .navbar .icon-menu {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .header-bottom-content .navbar .menu {
    display: none;
  }
  .header-bottom-content .navbar .sub-menu {
    box-shadow: none;
    background-color: unset;
  }
  .header-bottom-content .search {
    width: 40%;
    order: 3;
  }
  .header-bottom-content .navbar .item-home:after {
    left: 52px;
    top: 3px;
  }
  .header-bottom-content .navbar .sub-menu {
    position: unset;
  }
  .header-bottom-content .navbar .sub-menu .sub-item {
    padding: 0;
  }
}
.footer-content {
  display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  flex-wrap: wrap;
}
.footer-content > div {
  height: 100px;
  background-color: #e0d3f5;
  margin-right: 30px;
}
.footer-content > div:last-child {
  margin-right: 0;
}
.footer-content .info {
  flex-basis: 440px;
}
.footer-content .categories {
  flex-basis: 235px;
}
.footer-content .customer-care {
  flex-basis: 210px;
}
.footer-content .pages {
  flex-basis: 195px;
}

.home-component-title {
  font-size: 42px;
  line-height: 1.6666;
  font-weight: 700;
  color: #151875;
  text-align: center;
}

.featured-products .title {
  margin-bottom: 35px;
}
.featured-products .featured-products-list {
  /* the slides */
  /* the parent */
}
.featured-products .featured-products-list .slick-slide {
  padding: 15px;
}
.featured-products .featured-products-list .slick-list {
  margin: 0 -15px;
}
.featured-products .item {
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
}
.featured-products .item .top {
  position: relative;
}
.featured-products .item .bottom {
  text-align: center;
}
.featured-products .item:hover .tool,
.featured-products .item:hover .view-detail {
  display: block;
}
.featured-products .item:hover .bottom {
  background-color: #2f1ac4;
}
.featured-products .item:hover .bottom .name a,
.featured-products .item:hover .bottom .code,
.featured-products .item:hover .bottom .price {
  color: #fff;
}
.featured-products .item:hover .color span:last-child {
  background-color: #ffeac1;
}
.featured-products .image {
  position: relative;
  padding-top: 87.4074074074%;
  background-color: #f6f7fb;
}
.featured-products .image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  width: 100%;
}
.featured-products .tool {
  display: none;
  position: absolute;
  top: 11px;
  left: 11px;
}
.featured-products .tool ul {
  display: flex;
  align-items: center;
}
.featured-products .tool li {
  margin-right: 16px;
}
.featured-products .tool li a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.featured-products .tool li:first-child a {
  color: #2f1ac4;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: #eeeffb;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
}
.featured-products .tool li:not(:first-child) a {
  color: #1389ff;
}
.featured-products .view-detail {
  padding: 8px 13px 9px 13px;
  background-color: #08d15f;
  border-radius: 2px;
  box-sizing: border-box;
  display: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  bottom: 11px;
  left: 50%;
  transform: translate(calc(-50% + 7px), 0);
  -webkit-transform: translate(calc(-50% + 7px), 0);
  -moz-transform: translate(calc(-50% + 7px), 0);
}
.featured-products .view-detail span {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
  color: #fff;
}
.featured-products .name {
  padding-top: 15px;
}
.featured-products .name a {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fb2e86;
  font-size: 18px;
  line-height: 1.22222;
  font-weight: 700;
}
.featured-products .color {
  display: flex;
  padding-top: 12px;
  justify-content: center;
}
.featured-products .color span {
  margin: 0 5px;
  width: 14px;
  height: 4px;
  border-radius: 10px;
  display: block;
}
.featured-products .color span:first-child {
  background-color: #05e6b7;
}
.featured-products .color span:nth-child(2) {
  background-color: #f701a8;
}
.featured-products .color span:last-child {
  background-color: #00009d;
}
.featured-products .code {
  font-size: 14px;
  line-height: 1.285;
  color: #151875;
  padding-top: 12px;
}
.featured-products .price {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2142;
  color: #151875;
  padding: 12px 0 17px 0;
}
.featured-products .slick-dots {
  bottom: -47px;
}
.featured-products .slick-dots li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0;
  margin: 0;
  padding: 0 3px;
}
.featured-products .slick-dots li button {
  padding: 0;
  margin: 0;
  width: 16px;
  height: 4px;
  background-color: #febad7;
  border-radius: 10px;
}
.featured-products .slick-dots li button::before {
  content: none;
}
.featured-products .slick-dots li.slick-active button {
  background-color: #fb2e86;
  width: 24px;
}

.leatest-products {
  margin-top: 71px;
}
.leatest-products .tabs-title {
  display: flex;
  justify-content: center;
  margin: 19px 0 58px 0;
}
.leatest-products .tabs-title li {
  margin-right: 60px;
}
.leatest-products .tabs-title li.ui-tabs-active a {
  color: #fb2e86;
  text-decoration: underline;
}
.leatest-products .tabs-title li:last-child {
  margin-right: 0;
}
.leatest-products .tabs-title a {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22222;
  color: #151875;
}
.leatest-products .product-list {
  display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  flex-wrap: wrap;
}
.leatest-products .product-list .col {
  flex: 0 0 calc(((100% + 30px) / 3) - 30px);
  width: calc(((100% + 30px) / 3) - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}
.leatest-products .product-list .col:nth-child(3n) {
  margin-right: 0;
}
.leatest-products .top {
  position: relative;
}
.leatest-products .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15.59px;
  color: #151875;
}
.leatest-products .bottom .name {
  position: relative;
}
.leatest-products .bottom .name a {
  font-size: 16px;
  line-height: 1.875;
  color: #151875;
}
.leatest-products .bottom .name:before {
  content: "";
  display: block;
  width: 153.73px;
  border-bottom: 2px solid #eeeffb;
  position: absolute;
  left: 0;
  bottom: 0;
}
.leatest-products .bottom .price span {
  font-size: 14px;
  line-height: 16px;
}
.leatest-products .bottom .price span:last-child {
  color: #fb2448;
  margin-left: 8.57px;
}
.leatest-products .item._sale {
  position: relative;
}
.leatest-products .item._sale .image {
  background-color: #fff;
}
.leatest-products .item._sale:before {
  display: block;
  content: "";
  background-image: url("../images/products/leatest_products/tag.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 84.87px;
  height: 56.73px;
  position: absolute;
  top: 25px;
  left: 18px;
  z-index: 1;
}
.leatest-products .item:hover .tool {
  display: block;
}
.leatest-products .image {
  background-color: #f7f7f7;
}
.leatest-products .image img {
  width: 100%;
}
.leatest-products .tool {
  display: none;
  position: absolute;
  bottom: 38px;
  left: 15px;
}
.leatest-products .tool ul {
  align-items: center;
}
.leatest-products .tool li a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2f1ac4;
}
.leatest-products .tool li:first-child a {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: #eeeffb;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
}
.leatest-products .tool li:nth-child(2) {
  margin-top: 14px;
}
.leatest-products .tool li:last-child {
  margin-top: 17px;
}

/*
* Use: 
*    @include responsive_375{
* 
*   }
*
*    @include responsive_512{
* 
*   }
*
*    @include responsive_768{
* 
*   }
*
*    @include responsive_1024{
* 
*   }
*
*/
@media only screen and (max-width: 1024px) {
  .page-sortby {
    display: block;
  }
  .page-sortby .right {
    justify-content: flex-start;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .page-sortby .search {
    margin-left: 0;
    width: 100%;
    margin-top: 20px;
  }
  .page-sortby .search input {
    width: 100%;
  }
}
@media only screen and (max-width: 512px) {
  .page-sortby .right {
    display: block;
  }
  .page-sortby .right-title {
    min-width: 100px;
  }
  .page-sortby .right .perpage input {
    width: 100%;
    margin: 0;
  }
  .page-sortby .right .sortby-right {
    flex: 1;
  }
  .page-sortby .right .sortby-right .sortby-select {
    width: 100%;
  }
  .page-sortby .right > div {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    min-width: 300px;
    margin: 0;
    margin-top: 20px;
  }
}
body {
  height: 3000px;
}