/* 
1.0 Common
    1.1 Variables
    1.2 Mixins
    1.3 Typography
    1.4 Reset CSS
    1.5 Normalize CSS
    1.6 Style Guide
2.0 Base
    2.1 Header
        2.1.1 Top Menu
        2.1.2 Header Menu
    2.2 Footer
        2.2.1 Footer Top
        2.2.2 Footer Bottom
3.0 Content
    3.1 Home Page Content
*/
.row {
  display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  flex-wrap: wrap;
}
.row .col {
  flex: 0 0 calc(((100% + 30px) / 4) - 30px);
  width: calc(((100% + 30px) / 4) - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
  height: 100px;
  background-color: #2f1ac4;
}
.row .col:nth-child(4n) {
  margin-right: 0;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/ttf/Poppins-Regular.ttf") format("truetype"), url("../fonts/Poppins/woff/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins/woff2/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/ttf/Poppins-Medium.ttf") format("truetype"), url("../fonts/Poppins/woff/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins/woff2/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "JosefinSans";
  src: url("../fonts/JosefinSans/ttf/JosefinSans-Thin.ttf") format("truetype"), url("../fonts/JosefinSans/woff/JosefinSans-Thin.woff") format("woff"), url("../fonts/JosefinSans/woff2/JosefinSans-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "JosefinSans";
  src: url("../fonts/JosefinSans/ttf/JosefinSans-ThinItalic.ttf") format("truetype"), url("../fonts/JosefinSans/woff/JosefinSans-ThinItalic.woff") format("woff"), url("../fonts/JosefinSans/woff2/JosefinSans-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "JosefinSans";
  src: url("../fonts/JosefinSans/ttf/JosefinSans-ExtraLight.ttf") format("truetype"), url("../fonts/JosefinSans/woff/JosefinSans-ExtraLight.woff") format("woff"), url("../fonts/JosefinSans/woff2/JosefinSans-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "JosefinSans";
  src: url("../fonts/JosefinSans/ttf/JosefinSans-ExtraLightItalic.ttf") format("truetype"), url("../fonts/JosefinSans/woff/JosefinSans-ExtraLightItalic.woff") format("woff"), url("../fonts/JosefinSans/woff2/JosefinSans-ExtraLightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "JosefinSans";
  src: url("../fonts/JosefinSans/ttf/JosefinSans-Light.ttf") format("truetype"), url("../fonts/JosefinSans/woff/JosefinSans-Light.woff") format("woff"), url("../fonts/JosefinSans/woff2/JosefinSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "JosefinSans";
  src: url("../fonts/JosefinSans/ttf/JosefinSans-LightItalic.ttf") format("truetype"), url("../fonts/JosefinSans/woff/JosefinSans-LightItalic.woff") format("woff"), url("../fonts/JosefinSans/woff2/JosefinSans-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "JosefinSans";
  src: url("../fonts/JosefinSans/ttf/JosefinSans-Regular.ttf") format("truetype"), url("../fonts/JosefinSans/woff/JosefinSans-Regular.woff") format("woff"), url("../fonts/JosefinSans/woff2/JosefinSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "JosefinSans";
  src: url("../fonts/JosefinSans/ttf/JosefinSans-Italic.ttf") format("truetype"), url("../fonts/JosefinSans/woff/JosefinSans-Italic.woff") format("woff"), url("../fonts/JosefinSans/woff2/JosefinSans-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "JosefinSans";
  src: url("../fonts/JosefinSans/ttf/JosefinSans-Medium.ttf") format("truetype"), url("../fonts/JosefinSans/woff/JosefinSans-Medium.woff") format("woff"), url("../fonts/JosefinSans/woff2/JosefinSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "JosefinSans";
  src: url("../fonts/JosefinSans/ttf/JosefinSans-MediumItalic.ttf") format("truetype"), url("../fonts/JosefinSans/woff/JosefinSans-MediumItalic.woff") format("woff"), url("../fonts/JosefinSans/woff2/JosefinSans-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "JosefinSans";
  src: url("../fonts/JosefinSans/ttf/JosefinSans-SemiBold.ttf") format("truetype"), url("../fonts/JosefinSans/woff/JosefinSans-SemiBold.woff") format("woff"), url("../fonts/JosefinSans/woff2/JosefinSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "JosefinSans";
  src: url("../fonts/JosefinSans/ttf/JosefinSans-SemiBoldItalic.ttf") format("truetype"), url("../fonts/JosefinSans/woff/JosefinSans-SemiBoldItalic.woff") format("woff"), url("../fonts/JosefinSans/woff2/JosefinSans-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "JosefinSans";
  src: url("../fonts/JosefinSans/ttf/JosefinSans-Bold.ttf") format("truetype"), url("../fonts/JosefinSans/woff/JosefinSans-Bold.woff") format("woff"), url("../fonts/JosefinSans/woff2/JosefinSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "JosefinSans";
  src: url("../fonts/JosefinSans/ttf/JosefinSans-BoldItalic.ttf") format("truetype"), url("../fonts/JosefinSans/woff/JosefinSans-BoldItalic.woff") format("woff"), url("../fonts/JosefinSans/woff2/JosefinSans-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/ttf/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato/woff/Lato-Regular.woff") format("woff"), url("../fonts/Lato/woff2/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

body {
  font-family: "JosefinSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.color-pink {
  color: #fb2e86;
}

.color-off-navy-blue {
  color: #3f509e;
}

.color-navy-blue {
  color: #151875;
}

.color-purple {
  color: #7e33e0;
}

.color-off-purple {
  color: #9f63b5;
}

.color-red {
  color: #fb2448;
}

.color-blue {
  color: #2f1ac4;
}

.color-off-blue {
  color: #151875;
}

.color-sky-blue {
  color: linear-gradient(121.53deg, #f3f9ff 0%, #f1f0ff 100%);
}

.bg-pink {
  background-color: #fb2e86;
}

.bg-off-navy-blue {
  background-color: #3f509e;
}

.bg-navy-blue {
  background-color: #151875;
}

.bg-purple {
  background-color: #7e33e0;
}

.bg-off-purple {
  background-color: #9f63b5;
}

.bg-red {
  background-color: #fb2448;
}

.bg-blue {
  background-color: #2f1ac4;
}

.bg-off-blue {
  background-color: #151875;
}

.bg-sky-blue {
  background-image: linear-gradient(121.53deg, #f3f9ff 0%, #f1f0ff 100%);
}

.bg-pantone-purple {
  background-color: #e0d3f5;
}

.styleguide {
  width: 1430px;
  max-width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  margin: auto;
}
.styleguide-title {
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.25;
  color: #212525;
  margin: 49px 82px 47px 82px;
}
.styleguide-color {
  width: 983px;
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-right: 26px;
}
.styleguide-color-content {
  display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.styleguide-color-item {
  padding: 22px;
  box-sizing: border-box;
  box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
  border-radius: 15px;
  border: 2px solid #eaebed;
}
.styleguide-color-item + .styleguide-color-item {
  margin-top: 16px;
}
.styleguide-color-display {
  height: 50px;
  border-radius: 32px;
  margin-bottom: 17px;
}
.styleguide-color-code {
  font-size: 14px;
  line-height: 1.43;
  color: rgba(33, 37, 37, 0.4);
  margin-bottom: 4px;
}
.styleguide-color-name {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.09;
}
.styleguide-color-col {
  width: 250px;
  margin-right: 30px;
  margin-bottom: 51px;
}
.styleguide-color-col:nth-child(3n) {
  margin-right: 0;
}
.styleguide-color-col:first-child, .styleguide-color-col:last-child {
  width: 267px;
}
.styleguide-color-col:first-child .styleguide-color-item, .styleguide-color-col:last-child .styleguide-color-item {
  padding: 30px 31px 13px 30px;
  box-sizing: border-box;
}
.styleguide-color-col:first-child .styleguide-color-item .styleguide-color-display, .styleguide-color-col:last-child .styleguide-color-item .styleguide-color-display {
  border-radius: 25px;
  height: 206px;
  margin-bottom: 34px;
}
.styleguide-color-col:last-child .styleguide-color-item {
  padding: 30px 30px 13px 31px;
}
.styleguide-font {
  width: 391px;
}
.styleguide-font-title {
  text-align: right;
}
.styleguide-font-content {
  width: 341px;
}
.styleguide-font-top, .styleguide-font-bottom {
  padding: 0 0 16px 23px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: #ffffff;
  border-radius: 25px;
}
.styleguide-font-top {
  height: 150px;
  box-shadow: -9px 18px 40px rgba(0, 0, 0, 0.1);
}
.styleguide-font-bottom {
  min-height: 515px;
  border: 2px solid #eaebed;
  margin-top: 26px;
}
.styleguide-font-display {
  font-family: "JosefinSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 36px;
  width: 84px;
  height: 87px;
  display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.styleguide-font-name {
  font-weight: 500;
  font-size: 14px;
  color: rgba(33, 37, 37, 0.4);
  line-height: 1.43;
  margin-top: 1px;
}
.styleguide-font-type {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.89;
  margin-top: 2px;
}

.container {
  width: 1000px;
  max-width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  margin: auto;
  display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  flex-wrap: wrap;
}
.container .col {
  flex: 0 0 calc(((100% + 150px) / 4) - 150px);
  width: calc(((100% + 150px) / 4) - 150px);
  margin-right: 150px;
  margin-bottom: 30px;
  height: 100px;
  background-color: #2f1ac4;
}
.container .col:nth-child(4n) {
  margin-right: 0;
}