<div class="footer-top">
    <div class="container footer-content">
        <div class="info">
            <h2 class="logo-footer"><a href="#">Hekto</a></h2>
            <!-- footer search  -->
            <div class="search search-footer">
                <input type="text" class="search-input" placeholder="Enter Email Address">
                <button type="submit" class="search-sbm">
                    Sign Up
                </button>
            </div>
            <!-- end footer search  -->
            <p class="contact">
                Contact Info:
            </p>
            <p class="address-website">
                17 Princess Road, London, Greater London NW1 8JR, UK
            </p>
        </div>
        <!-- mobile infomation -->
        <div id="accordion" class="categories">
            <h3 class="title">Catagories</h3>
            <ul class="list-categories">
                <li class="item"><a href="#">Laptops & Computers</a></li>
                <li class="item"><a href="#">Cameras & Photography</a></li>
                <li class="item"><a href="#">Smart Phones & Tablets</a></li>
                <li class="item"><a href="#">Video Games & Consoles</a></li>
                <li class="item"><a href="#">Waterproof Headphones</a></li>
            </ul>

            <h3 class="title">Customer Care</h3>
            <ul class="list-customers">
                <li class="item"><a href="#">My Account</a></li>
                <li class="item"><a href="#">Discount</a></li>
                <li class="item"><a href="#">Returns</a></li>
                <li class="item"><a href="#">Orders History</a></li>
                <li class="item"><a href="#">Order Tracking</a></li>
            </ul>

            <h3 class="title">Pages</h3>
            <ul class="list-pages">
                <li class="item"><a href="#">Blog</a></li>
                <li class="item"><a href="#">Browse the Shop</a></li>
                <li class="item"><a href="#">Category</a></li>
                <li class="item"><a href="#">Pre-Built Pages</a></li>
                <li class="item"><a href="#">Visual Composer Elements</a></li>
                <li class="item"><a href="#">WooCommerce Pages</a></li>
            </ul>
        </div>
        <!-- mobile infomation -->

        <div class="bottom-content">
            <div class="categories">
                <h3 class="title">Catagories</h3>
                <ul class="list-categories">
                    <li class="item"><a href="#">Laptops & Computers</a></li>
                    <li class="item"><a href="#">Cameras & Photography</a></li>
                    <li class="item"><a href="#">Smart Phones & Tablets</a></li>
                    <li class="item"><a href="#">Video Games & Consoles</a></li>
                    <li class="item"><a href="#">Waterproof Headphones</a></li>
                </ul>
            </div>
    
            <div class="customers">
                <h3 class="title">Customer Care</h3>
                <ul class="list-customers">
                    <li class="item"><a href="#">My Account</a></li>
                    <li class="item"><a href="#">Discount</a></li>
                    <li class="item"><a href="#">Returns</a></li>
                    <li class="item"><a href="#">Orders History</a></li>
                    <li class="item"><a href="#">Order Tracking</a></li>
                </ul>
            </div>
    
            <div class="pages">
                <h3 class="title">Pages</h3>
                <ul class="list-pages">
                    <li class="item"><a href="#">Blog</a></li>
                    <li class="item"><a href="#">Browse the Shop</a></li>
                    <li class="item"><a href="#">Category</a></li>
                    <li class="item"><a href="#">Pre-Built Pages</a></li>
                    <li class="item"><a href="#">Visual Composer Elements</a></li>
                    <li class="item"><a href="#">WooCommerce Pages</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>
<div class="footer-bottom">
    <div class="container footer-bottom-content">
        <div class="copyright">©Webecy - All Rights Reserved</div>
        <div class="media">
            <a href="#"><iconify-icon icon="cib:facebook" style="color: #151875;"></iconify-icon></a>
            <a href="#"><iconify-icon icon="entypo-social:instagram-with-circle" style="color: #151875;"></iconify-icon></a>
            <a href="#"><iconify-icon icon="ant-design:twitter-circle-filled" style="color: #151875;"></iconify-icon></a>
        </div>
    </div>
</div>


<script src="./assets/js/style.js"></script>