//
// Fonts
// _______________________________

@mixin font-face(
	$family-name,
	$font-name,
	$font-weight: normal,
	$font-style: normal,
	$font-display: auto
) {
	@font-face {
		font-family: $family-name;
		src: url('#{$baseDir}fonts/#{$family-name}/ttf/#{$font-name}.ttf')
				format('truetype'),
			url('#{$baseDir}fonts/#{$family-name}/woff/#{$font-name}.woff')
				format('woff'),
			url('#{$baseDir}fonts/#{$family-name}/woff2/#{$font-name}.woff2')
				format('woff2');
		font-weight: $font-weight;
		font-style: $font-style;
	}
}

//
// Prefix
// _______________________________

@mixin css-prefix($property, $value, $prefixes: (webkit, moz)) {
	#{$property}: $value;
	@each $prefix in $prefixes {
		-#{$prefix}-#{$property}: $value;
	}
}
// display flex
@mixin flexbox {
	@include css-prefix(display, flex);
	flex-wrap: wrap;
}
// transform translate
@mixin translate($x: 0, $y: 0) {
	@include css-prefix(transform, translate($x, $y));
}
// transform scale
@mixin scale($x: 0, $y: 0) {
	@include css-prefix(transform, translate($x, $y));
}
// transform
@mixin transform($value) {
	@include css-prefix(transform, $value);
}

//
// Grid layout
// _______________________________

@mixin grid-layout($_column-number: 4, $_column-gap: 30px, $_row-gap: 30px) {
	.row {
		@include flexbox();
		.col {
			flex: 0 0
				calc(
					((100% + #{$_column-gap}) / #{$_column-number}) - #{$_column-gap}
				);
			width: calc(
				((100% + #{$_column-gap}) / #{$_column-number}) - #{$_column-gap}
			);
			margin-right: $_column-gap;
			margin-bottom: $_row-gap;
			height: 100px;
			background-color: $color-blue;
			&:nth-child(#{$_column-number}n) {
				margin-right: 0;
			}
		}
	}
}
