/*
* Use: 
*    @include responsive_375{
* 
*   }
*
*    @include responsive_512{
* 
*   }
*
*    @include responsive_768{
* 
*   }
*
*    @include responsive_1024{
* 
*   }
*
*/



// header for tablet
@include responsive_1024 {
    .header-content-left {
        a {
            font-size: 13px;
            line-height: 15px;
            padding-right: 48px;
        }
    }

	.header-content-right {
		.item {
			font-size: 13px;
			line-height: 15px;
		}
	}

    .header-right-laguage,
    .header-right-money {
        .laguage-item,
        .money-item {
            &:after {
                right: -17px;
                top: -1px;
            }
        }
    }

    .header-bottom {
        .search-mobile {
            display: none;
        }
    }

    .header-bottom-content {
        .header-contact {
            display: none;
        }

        .logo {
            width: 20%;
            order: 2;
        }

        .navbar {
            width: 40%;
            order: 1;
            .menu {
                display: none;
            }
            .menu-tablet {
                display: flex;
            }
            .item-home {
                &::after {
                    left: 45px;
                    top: 3px;
                }
            }
            .icon-menu-tablet {
                display: block;
                padding: 15px 15px 15px 0;
            }
        }
        .item-tablet {
            position: relative;
            &:hover {
                .sub-tablet {
                    display: block;
                }
            }
            
        }

		.search {
			width: 40%;
			order: 3;
		}
	}
    .header-bottom-content {
        .sub-tablet {
            position: absolute;
            background-color: #f1f1f1;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            display: none;
            z-index: 1000;
            .menu-tab {
                padding-left: 15px;
                &:hover {
                    background: $color-purple;
                    a {
                        color: #fb2e86;
                    }
                }
            }
        }
    }
}
// header for tablet

// header for mobile
@include responsive_768 {
    .header-content-left {
        display: none;
    }

    .header-content-right {
        width: 100%;
        justify-content: space-between;

        .item {
            padding-right: 10px;
            padding-left: unset;
        }
    }

    .header-right-laguage {
        .lang {
            padding: 15px 0;
        }
    }

    .header-bottom-content {
        .search {
            display: none;
            .search-input {
                min-width: unset;
            }
        }
        .search-mobile {
            display: block;
            width: 100%;
            .search-sbm {
                position: absolute;
                top: 1px;
                right: 0;
            }
        }
        .logo {
            width: 30%;
            text-align: center;
        }
        .navbar {
            width: 35%;
            .menu .item{
                padding-right: 10px;
            }
        }
        .header-contact {
            width: 35%;
            order: 2;
            text-align: end;
            font-size: 20px;
            display: block;
            a {
                position: relative;
                top: 5px;
            }
        }
    }
}
// header for mobile 


@include responsive_768 {
	.page-sortby {
		.search {
			margin-left: 0;
			width: 100%;
			margin-top: 20px;
			input {
				width: 100%;
			}
		}
	}
}

@include responsive_512 {
	.page-sortby {
		.right {
			display: block;
			&-title {
				min-width: 100px;
			}
			.perpage input {
				width: 100%;
				margin: 0;
			}
			.sortby-right {
				flex: 1;
				.sortby-select {
					width: 100%;
				}
			}
			& > div {
				width: fit-content;
				min-width: 300px;
				margin: 0;
				margin-top: 20px;
			}
		}
	}
}


// footer for tablet
@include responsive_min_768 {
    .footer-top {
        .bottom-content {
            display: flex;
        }
        .title {
            cursor: unset;
        }
        .logo-footer {
            padding-bottom: 18px;
        }
        .contact {
            padding-top: 60px;
        }
        #accordion {
            display: none;
        }
        .categories, .customers, .pages {
            width: calc(100% / 3);
            padding-top: 40px;
            .item {
                padding-bottom: 21px;
            }
        }
    }

    .footer-bottom-content {
        .copyright {
            width: 50%;
            order: 1;
        }
        .media {
            width: 50%;
            order: 2;
            padding-bottom: unset;
        }

    }
}
// footer for tablet

// footer for desktop
@include responsive_min_1024 {
    .footer-content {
        display: flex;
        .info {
            width: 37%;
            box-sizing: border-box;
            padding-right: 36px;
            text-align: start;
        }
        .bottom-content {
            width: calc(100%/100*63);
            .categories, .customers, .pages {
                padding-top: unset;
                text-align: left;
                width: unset;
            }
            .categories {
                padding: 0 45px 0 38px;
            }
            .customers {
                padding: 0 45px;
            }
            .pages {
                padding-left: 45px;
            }
        }
    }
    .footer-bottom-content {
        .media {
            width: 30%;
        }
        .copyright {
            width: 70%;
            position: relative;
            left: 80px;
            text-align: start;
        }
    }
}
// footer for desktop